.textcolor{
    color: white;
    border: solid 1px;
    background-color: rgb(67, 47, 90);
    margin: 100px 300px;
    padding: 100px;
}
.button{
    background-color: palevioletred;
    width: 200px;
    padding: 5px;
}
.input{
    width: 200px;
} 
.checkbox{
    margin-left: 80px;
}